* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

body {
  background: #414748;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 2.25rem;
  font-weight: 800;
  background: #6fbe3e;
  text-align: center;
  border-radius: 2.5rem;
  line-height: 1.2;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: -0.625rem;
  left: 0.9375rem;
  width: calc(100% - 1.875rem);
  height: 2.125rem;
  background: #6fbe3e;
  z-index: -1;
  pointer-events: none;
  -webkit-filter: blur(3.125rem);
          filter: blur(3.125rem);
}

.swiper {
  overflow: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
}

.top-header {
  background: #6fbe3e;
  padding: 0.6875rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 1.625rem;
}

.top-header__descr {
  font-size: 1.125rem;
  line-height: 1.23;
}

.bottom-header {
  position: relative;
}

.show-menu .bottom-header {
  position: fixed;
  top: 1.25rem;
  left: 0;
  z-index: 10;
  width: 100%;
}

.bottom-header__wrapper {
  background: rgba(125, 125, 125, 0.1);
  padding: 1rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(1.5625rem);
          backdrop-filter: blur(1.5625rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.3125rem;
          flex: 0 0 25.3125rem;
  width: 25.3125rem;
}

.bottom-header__logo img {
  width: 100%;
  height: auto;
}

.bottom-header__icon {
  display: none;
}

.menu__link {
  font-size: 1.125rem;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer {
  position: relative;
}

.no-webp .footer::after {
  background: url("../img/bgs/footer.png") 50% 0/cover no-repeat; }

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: lighten;
  z-index: -1;
  height: 100%;
}

.footer__wrapper {
  padding: 3.75rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.footer__logo-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.125rem;
          flex: 0 0 19.125rem;
  width: 19.125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__logo img {
  width: 100%;
  height: auto;
}

.contact-footer__label:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.contact-footer__list:not(:last-child) {
  margin-bottom: 1.875rem;
}

.contact-footer__item:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.contact-footer__link {
  font-size: 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.contact-footer__link::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.8125rem;
  background: url("../img/icons/socials/phone.svg") 50%/100% no-repeat;
}

.contact-footer__link_mail::before {
  height: 1.75rem;
  background-image: url("../img/icons/socials/mail.svg");
}

.contact-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contact-footer__social:not(:last-child) {
  margin-right: 1.875rem;
}

.right-footer__label:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.right-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-footer__socials:not(:last-child) {
  margin-bottom: 1.875rem;
}

.right-footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.right-footer__social:not(:last-child) {
  margin-right: 1.875rem;
}

.right-footer__social-link {
  font-size: 0;
}

.right-footer__social-link svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.right-footer__descr {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  line-height: normal;
}

.right-footer__descr:not(:last-child) {
  margin-bottom: 1.875rem;
}

.right-footer__copy {
  font-size: 1rem;
  font-weight: 500;
}

.hero {
  min-height: 53.75rem;
  position: relative;
  padding: 13.75rem 0 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__container {
  position: relative;
  z-index: 2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__toad {
  max-width: 18.75rem;
}

.hero__toad img {
  width: 100%;
}

.hero__toad:not(:last-child) {
  margin-bottom: 1.875rem;
}

.hero__title {
  font-size: 3rem;
  max-width: 51.875rem;
  margin: 0 auto;
  font-weight: 900;
  line-height: normal;
  position: relative;
}

.hero__title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.no-webp .hero__title::after {
  background: url("../img/hero/dot.png") 50%/100% no-repeat; }

.hero__title::after {
  content: "";
  position: absolute;
  right: -3.375rem;
  pointer-events: none;
  bottom: -1.875rem;
  width: 8.25rem;
  height: 5rem;
}

.hero__title span {
  position: relative;
}

.hero__title span::after {
  content: "";
  position: absolute;
  bottom: 0.5625rem;
  z-index: -1;
  left: 0;
  width: 100%;
  background: #81bd52;
  height: 0.9375rem;
}

.hero__btn-wrapper {
  text-align: center;
}

.hero__btn {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.no-webp .hero__btn::before {
  background: url("../img/hero/arrow.png") 50%/100% no-repeat; }

.hero__btn::before {
  content: "";
  width: 4.75rem;
  height: 5.1875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: -3.125rem;
  left: calc(100% + 1.25rem);
  pointer-events: none;
}

.benefits {
  padding-bottom: 3.125rem;
}

.benefits__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 8.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.9375rem;
  padding: 0.9375rem 3.5rem 2.1875rem 8.125rem;
}

.no-webp .benefits__header::after {
  background: url("../img/benefits/header-bg.png") 50%/100% no-repeat; }

.benefits__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.benefits__title {
  position: relative;
  z-index: 2;
  font-size: 3rem;
  font-weight: 900;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.benefits__descr {
  font-size: 3rem;
  position: relative;
  z-index: 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 900;
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2.125rem;
  margin-bottom: 3.75rem;
}

.benefits__bottom {
  text-align: center;
}

.left-benefits {
  margin-right: 1.25rem;
}

.left-benefits__column {
  background: linear-gradient(184deg, rgba(111, 190, 62, 0.2) 0%, rgba(65, 71, 72, 0.2) 100%), rgba(255, 255, 255, 0.06);
  border-radius: 1.25rem;
}

.left-benefits__column_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 3.4375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 16.25rem;
}

.left-benefits__column_2 {
  min-height: 16.25rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 3.125rem 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

.no-webp .left-benefits__column_2::after {
  background: url("../img/benefits/budget-bg.png") 50%/100% no-repeat; }

.left-benefits__column_2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-benefits__column_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8.3125rem;
  max-width: 24.3125rem;
  padding-right: 0.625rem;
}

.left-benefits__column:not(:last-child) {
  margin-bottom: 1.25rem;
}

.left-benefits__content {
  position: relative;
  z-index: 2;
}

.left-benefits__icon img {
  max-width: 100%;
  height: auto;
}

.left-benefits__icon_1 {
  max-width: 12.0625rem;
  margin-bottom: 1.875rem;
}

.left-benefits__icon_1 img {
  width: 100%;
  height: auto;
}

.left-benefits__icon_2 {
  margin-right: 0.625rem;
}

.left-benefits__label {
  line-height: normal;
}

.left-benefits__text {
  font-size: 2.25rem;
  line-height: normal;
}

.left-benefits__descr {
  font-size: 3rem;
  line-height: normal;
}

.right-benefits {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-top: 2.25rem;
}

.right-benefits__column {
  border-radius: 1.25rem;
  background: linear-gradient(184deg, rgba(111, 190, 62, 0.2) 0%, rgba(65, 71, 72, 0.2) 100%), rgba(255, 255, 255, 0.06);
}

.right-benefits__column_1 {
  position: relative;
  padding: 1.875rem;
  min-height: 23.5625rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.right-benefits__column_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.875rem;
  text-align: center;
  margin-right: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17.75rem;
          flex: 0 0 17.75rem;
  margin-left: -6.3125rem;
}

.right-benefits__column_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0rem 1.75rem 1.875rem 1.75rem;
}

.right-benefits__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.right-benefits__descr {
  position: relative;
  z-index: 2;
  line-height: normal;
  max-width: 24.375rem;
  margin: 0 auto;
}

.right-benefits__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 16.4375rem;
  margin-top: 1.0625rem;
}

.right-benefits__label {
  line-height: normal;
}

.right-benefits__icon img {
  max-width: 100%;
  height: auto;
}

.right-benefits__icon_2 {
  position: relative;
  z-index: 2;
  margin-top: -4.375rem;
}

.services {
  padding: 6.25rem 0rem 3.75rem;
}

.services__title:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.services__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.services__column {
  border-radius: 2.875rem;
  background: rgba(245, 245, 245, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2.5rem 0.9375rem;
  min-height: 21.25rem;
}

.services__column_green {
  background: #6fbe3e;
}

.services__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.6875rem;
          flex: 0 0 11.6875rem;
  max-height: 11.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 11.6875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.625rem;
}

.services__icon img {
  height: auto;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.services__descr {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}

.accounts {
  padding: 3.125rem 0rem 6.25rem;
}

.accounts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accounts__label {
  font-size: 2.25rem;
  font-weight: 900;
  z-index: 2;
  white-space: nowrap;
  position: relative;
}

.accounts__label::before,
.accounts__label::after {
  content: "";
  pointer-events: none;
  position: absolute;
}

.no-webp .accounts__label::before {
  background: url("../img/accounts/lines.png") top right/125% no-repeat; }

.accounts__label::before {
  right: -1.25rem;
  bottom: -4.0625rem;
  width: 100%;
  height: 5.8125rem;
}

.no-webp .accounts__label::after {
  background: url("../img/accounts/decor.png") 50%/100% no-repeat; }

.accounts__label::after {
  left: -6.9375rem;
  top: 50%;
  margin-top: -5.03125rem;
  width: 7.9375rem;
  height: 10.0625rem;
}

.accounts__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.accounts__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accounts__slide img {
  max-width: 100%;
  height: auto;
}

.verticals {
  padding-bottom: 5rem;
}

.verticals__title:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.verticals__subtitle {
  text-align: center;
  line-height: normal;
}

.verticals__subtitle:not(:last-child) {
  margin-bottom: 5.625rem;
}

.verticals__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 3.125rem 1.25rem;
  position: relative;
}

.verticals__columns:not(:last-child) {
  margin-bottom: 5.625rem;
}

.verticals__column:nth-child(odd) .verticals__label {
  bottom: 0;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.verticals__column:nth-child(even) .verticals__label {
  top: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.verticals__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.8125rem;
  border: 0.0625rem solid #6fbe3e;
  background: rgba(255, 255, 255, 0.06);
  min-height: 14rem;
  position: relative;
  overflow: hidden;
  -webkit-backdrop-filter: blur(47.5px);
          backdrop-filter: blur(47.5px);
}

.verticals__wrapper::after {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 0.9375rem;
  width: 6.25rem;
  height: 6.25rem;
  background: #6fbe3e;
  z-index: -1;
  -webkit-filter: blur(3.125rem);
          filter: blur(3.125rem);
  border-radius: 50%;
}

.verticals__icon img {
  max-width: 100%;
  height: auto;
}

.verticals__label {
  line-height: 1.2;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  padding: 0.625rem;
  background: #6fbe3e;
  border-radius: 2.5rem;
}

.verticals__bottom {
  text-align: center;
}

.managers {
  position: relative;
  padding-bottom: 4.6875rem;
}

.no-webp .managers::after {
  background: url("../img/bgs/managers.png") 50% 0/cover no-repeat; }

.managers::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -1;
  mix-blend-mode: lighten;
}

.managers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.managers__title {
  position: relative;
}

.no-webp .managers__title span {
  background: url("../img/managers/lines.png") 50%/100% no-repeat; }

.managers__title span {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2.6875rem;
}

.no-webp .managers__title::before, .no-webp .managers__title::after {
  background: url("../img/managers/arrow.png") 50%/100% no-repeat; }

.managers__title::before,
.managers__title::after {
  content: "";
  position: absolute;
  width: 9.875rem;
  height: 6.8125rem;
}

.managers__title::after {
  top: -1.25rem;
  left: -9.375rem;
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg);
}

.managers__title::before {
  -webkit-transform: scale(-1, 1) rotate(20deg);
      -ms-transform: scale(-1, 1) rotate(20deg);
          transform: scale(-1, 1) rotate(20deg);
  top: 0;
  right: -8.75rem;
}

.managers__title:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.managers__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.column-managers {
  background: #4c5253;
  border-radius: 3.4375rem;
  padding: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-managers__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-managers__top:not(:last-child) {
  margin-bottom: 3.75rem;
}

.column-managers__user {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.125rem;
          flex: 0 0 8.125rem;
  width: 8.125rem;
  height: 8.125rem;
  border-radius: 50%;
  overflow: hidden;
}

.column-managers__user img {
  width: 100%;
  height: auto;
}

.column-managers__user:not(:last-child) {
  margin-right: 1.875rem;
}

.column-managers__name {
  font-size: 2.25rem;
  font-weight: 900;
}

.column-managers__list:not(:last-child) {
  margin-bottom: 3.125rem;
}

.column-managers__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.column-managers__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-managers__link::before {
  content: "";
  background: url("../img/icons/socials/mail.svg") 50%/100% no-repeat;
  margin-right: 1.25rem;
  height: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  width: 1.875rem;
}

.column-managers__link_mail::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.25rem;
          flex: 0 0 2.25rem;
  width: 2.25rem;
  height: 1.9375rem;
}

.column-managers__link_site::before {
  background-image: url("../img/icons/socials/site.svg");
}

.column-managers__link_skype::before {
  background-image: url("../img/icons/socials/skype.svg");
}

.column-managers__link_tg::before {
  background-image: url("../img/icons/socials/tg.svg");
}

.column-managers__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.column-managers__btn::after {
  display: none;
}

@media (min-width: 29.99875em) {
  .hero__bg_mob {
    display: none;
  }

  .verticals__column {
    position: relative;
  }

  .verticals__label {
    position: absolute;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 47.99875em) {
  .right-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17.5rem;
            flex: 0 0 17.5rem;
  }

  .benefits__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30.5rem;
            flex: 0 0 30.5rem;
  }

  .column-managers__top {
    padding: 0rem 0.625rem;
  }
}

@media (min-width: 61.99875em) {
  .header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    position: absolute;
  }

  .bottom-header__wrapper {
    border-radius: 1.25rem;
  }

  .bottom-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 1.5625rem;
  }

  .footer__wrapper {
    gap: 1.25rem;
  }

  .services__column {
    margin-top: 2.5rem;
  }

  .services__column_green {
    margin-top: 0rem;
  }
}

@media (min-width: 78.75em) {
  .accounts__label {
    margin-right: 3.125rem;
  }

  .accounts__slider {
    overflow: visible;
    position: relative;
  }

  .accounts__slider::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 60vw;
    background: #414748;
  }

  .managers__columns {
    padding: 0rem 6.25rem;
  }
}

@media (max-width: 78.75em) {
  .top-header {
    margin-bottom: 1.25rem;
  }

  .bottom-header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 21.25rem;
            flex: 0 0 21.25rem;
    width: 21.25rem;
  }

  .menu__link {
    font-size: 1rem;
  }

  .hero__title::after {
    display: none;
  }

  .benefits__header {
    background: #6fbe3e;
    padding: 0.9375rem 1.25rem;
    border-radius: 1.25rem;
  }

  .benefits__header::after {
    display: none;
  }

  .benefits__title {
    font-size: 2.75rem;
  }

  .benefits__descr {
    font-size: 2.75rem;
  }

  .benefits__body {
    margin-top: 0;
  }

  .left-benefits__label {
    font-size: 1.375rem;
  }

  .right-benefits {
    padding-top: 0;
  }

  .right-benefits__column_1 {
    min-height: 25.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .right-benefits__column_3 {
    padding: 0rem 1.25rem 0.625rem;
  }

  .right-benefits__label {
    font-size: 1.375rem;
  }

  .right-benefits__icon_2 {
    max-width: 10rem;
  }

  .services {
    padding: 4.375rem 0rem;
  }

  .services__column {
    padding: 1.875rem 0.625rem;
  }

  .accounts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .accounts__label {
    margin-bottom: 6.25rem;
    font-size: 2.125rem;
  }

  .accounts__slider {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    margin: 0rem -1.875rem;
  }

  .verticals__columns {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .verticals__column:nth-child(even) .verticals__label {
    top: auto;
    bottom: 0;
    -webkit-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }

  .column-managers {
    padding: 1.875rem 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 2.5rem;
  }

  .top-header {
    margin-bottom: 0;
    padding: 0.4375rem 0rem;
  }

  .show-menu .bottom-header {
    top: 0;
  }

  .bottom-header__wrapper {
    margin: 0rem -1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.75rem 1.875rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bottom-header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18.75rem;
            flex: 0 0 18.75rem;
    width: 18.75rem;
  }

  .bottom-header__icon {
    display: block;
    position: absolute;
    right: 1.875rem;
    top: 1.3125rem;
    width: 1.25rem;
    height: 1.25rem;
    background: url("../img/icons/menu-arrow.svg") 50%/100% no-repeat;
    cursor: pointer;
    z-index: 5;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .bottom-header__icon._spoller-active {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .menu__body {
    top: -100%;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    top: 100%;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  .menu__item {
    text-align: center;
    padding: 0.5625rem 0rem;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3.125rem 0rem;
  }

  .footer__logo-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2.5rem;
  }

  .contact-footer__label {
    font-size: 1.375rem;
  }

  .contact-footer__link {
    font-size: 1.125rem;
  }

  .hero {
    min-height: 46.25rem;
    padding: 0 0 3.125rem;
  }

  .hero__title {
    font-size: 2.75rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .hero__title span::after {
    height: 0.8125rem;
  }

  .benefits__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .benefits__title {
    font-size: 2.375rem;
  }

  .benefits__descr {
    font-size: 2.375rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .left-benefits__column_3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 21.9375rem;
    padding-right: 0;
  }

  .left-benefits__label {
    font-size: 1.25rem;
  }

  .right-benefits__column_2 {
    margin-right: 0;
    margin-bottom: 1.25rem;
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14.375rem;
            flex: 0 0 14.375rem;
  }

  .right-benefits__column_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14.375rem;
            flex: 0 0 14.375rem;
  }

  .right-benefits__descr {
    font-size: 1.25rem;
  }

  .right-benefits__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -6.3125rem;
  }

  .right-benefits__label {
    font-size: 1.375rem;
  }

  .services {
    padding: 3.125rem 0rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .services__columns {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .services__column {
    min-height: 18.75rem;
  }

  .services__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.8125rem;
            flex: 0 0 9.8125rem;
    max-height: 9.8125rem;
  }

  .services__descr {
    font-size: 1.125rem;
  }

  .accounts {
    padding: 2.5rem 0rem 3.75rem;
  }

  .accounts__label {
    font-size: 1.8125rem;
    margin-bottom: 5rem;
  }

  .accounts__label::before {
    background-size: 120%;
    bottom: -4.6875rem;
  }

  .accounts__label::after {
    width: 6.6875rem;
    height: 8.5rem;
    margin-top: -4.25rem;
    left: -6.25rem;
  }

  .verticals {
    padding-bottom: 3.75rem;
  }

  .verticals__subtitle {
    font-size: 1.375rem;
  }

  .verticals__subtitle:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .managers::after {
    height: 100%;
  }

  .managers__title::after {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 1.875rem;
    left: -8.125rem;
  }

  .managers__title::before {
    display: none;
  }

  .managers__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .column-managers__top:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .column-managers__name {
    font-size: 2.125rem;
  }

  .column-managers__link {
    font-size: 1.375rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .managers__title::after {
    left: -5rem;
    top: 2.5rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 29.99875em) {
  .managers__title::after {
    top: calc(100% + 0.625rem);
    left: 0rem;
    width: 7.5rem;
    height: 5.1875rem;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 2.0625rem;
  }

  .bottom-header__wrapper {
    padding: 0.5rem 1.875rem;
  }

  .bottom-header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.25rem;
            flex: 0 0 16.25rem;
    width: 16.25rem;
  }

  .bottom-header__icon {
    top: 0.9375rem;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 0rem;
  }

  .contact-footer {
    margin-bottom: 2.5rem;
  }

  .contact-footer__label {
    text-align: center;
    font-size: 1.25rem;
  }

  .contact-footer__label:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .contact-footer__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .contact-footer__link {
    font-size: 1rem;
  }

  .contact-footer__link::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.75rem;
            flex: 0 0 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }

  .contact-footer__link_mail::before {
    height: 1.625rem;
  }

  .contact-footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .right-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .right-footer__label {
    text-align: center;
  }

  .right-footer__label:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .right-footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .right-footer__descr {
    max-width: 20rem;
    text-align: center;
  }

  .hero {
    padding: 0 0 1.875rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__title span::after {
    height: 0.6875rem;
  }

  .hero__title span.business {
    display: inline-block;
    margin-left: 1.6875rem;
  }

  .benefits__header {
    min-height: auto;
  }

  .benefits__title {
    font-size: 1.875rem;
  }

  .benefits__descr {
    font-size: 1.875rem;
  }

  .benefits__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .left-benefits {
    margin-right: 0;
  }

  .left-benefits__column_2 {
    background: #6fbe3e;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .left-benefits__column_2::after {
    display: none;
  }

  .left-benefits__column_3 {
    max-width: none;
    margin-bottom: 1.25rem;
  }

  .left-benefits__icon_2 {
    margin-bottom: 1.875rem;
  }

  .left-benefits__label {
    font-size: 1.125rem;
  }

  .right-benefits__descr {
    font-size: 1.125rem;
  }

  .right-benefits__bottom {
    margin-top: 1.25rem;
    margin-left: 0;
  }

  .right-benefits__label {
    font-size: 1.25rem;
  }

  .services {
    padding: 2.1875rem 0rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .services__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .services__column {
    min-height: 16.25rem;
  }

  .accounts__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .accounts__label {
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 3.75rem;
  }

  .accounts__label::after {
    width: 5.5625rem;
    height: 7.0625rem;
    margin-top: -3.53125rem;
    left: -5rem;
  }

  .accounts__slider {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .verticals {
    padding-bottom: 2.5rem;
  }

  .verticals__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .verticals__subtitle {
    font-size: 1.25rem;
  }

  .verticals__subtitle:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .verticals__columns {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .verticals__label {
    font-size: 1rem;
  }

  .managers {
    padding-bottom: 3.75rem;
  }

  .column-managers__top:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .column-managers__name {
    font-size: 2rem;
  }

  .column-managers__list:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .column-managers__link {
    font-size: 1.25rem;
  }

  .column-managers__link_mail::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.625rem;
  }
}

@media (max-width: 29.99875em) {
  .title {
    font-size: 1.75rem;
  }

  .bottom-header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14.875rem;
            flex: 0 0 14.875rem;
    width: 14.875rem;
  }

  .bottom-header__icon {
    top: 0.8125rem;
  }

  .hero__title {
    font-size: 2.0625rem;
  }

  .hero__title span::after {
    height: 0.5625rem;
    bottom: 0.3125rem;
  }

  .hero__title span.business {
    margin-left: 0;
  }

  .hero__btn::before {
    left: 100%;
    top: -2.5rem;
    -webkit-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
            transform: rotate(4deg);
    width: 3.75rem;
    height: 4.125rem;
  }

  .benefits__header {
    background: none;
    min-height: 7.125rem;
    padding: 0.625rem 1.25rem;
    overflow: hidden;
  }

  .no-webp .benefits__header::after {
    background-image: url("../img/benefits/header-bg-mob.png"); }

  .benefits__header::after {
    display: block;
  }

  .benefits__title {
    font-size: 1.5rem;
  }

  .benefits__descr {
    font-size: 1.5rem;
  }

  .benefits__descr span {
    display: block;
    margin-bottom: 0.6875rem;
  }

  .left-benefits__column_1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1.875rem 0.625rem;
    min-height: auto;
  }

  .left-benefits__column_2 {
    background: none;
    min-height: 9rem;
    padding: 0.625rem 1.875rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: hidden;
  }

  .no-webp .left-benefits__column_2::after {
    background: url("../img/benefits/budget-bg-mob.png") 50%/100% no-repeat; }

  .left-benefits__column_2::after {
    display: block;
  }

  .left-benefits__column_3 {
    min-height: 10.3125rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0rem 0rem 2.75rem 1.875rem;
    position: relative;
    background: none;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: -2.8125rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .no-webp .left-benefits__column_3::after {
    background: url("../img/benefits/account-bg-mob.png") 50%/100% no-repeat; }

  .left-benefits__column_3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    border-radius: 1.25rem;
  }

  .left-benefits__icon_1 {
    margin-bottom: 0;
  }

  .left-benefits__icon_2 {
    margin-bottom: 0rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6.375rem;
            flex: 0 0 6.375rem;
    height: 6.375rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: -1.6875rem;
  }

  .left-benefits__label {
    font-size: 1rem;
  }

  .left-benefits__label_2 {
    max-width: 10rem;
  }

  .left-benefits__text {
    font-size: 1.5rem;
  }

  .left-benefits__descr {
    font-size: 1.5rem;
  }

  .right-benefits__column_1 {
    min-height: auto;
    padding: 2.5rem 1.25rem;
  }

  .right-benefits__column_2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding: 1.25rem 0.625rem;
  }

  .right-benefits__column_3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 1.25rem;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .right-benefits__descr {
    font-size: 1rem;
  }

  .right-benefits__label {
    font-size: 1rem;
  }

  .right-benefits__icon_2 {
    margin-top: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6.25rem;
            flex: 0 0 6.25rem;
  }

  .services__column {
    padding: 1.25rem;
    min-height: 12.5rem;
  }

  .services__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.1875rem;
            flex: 0 0 8.1875rem;
    max-height: 8.1875rem;
  }

  .services__descr {
    font-size: 1rem;
  }

  .accounts {
    padding: 1.875rem 0rem 3.75rem;
  }

  .accounts {
    padding: 1.25rem 0rem 2.5rem;
  }

  .accounts__label {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
  }

  .accounts__label::after {
    width: 4.625rem;
    left: -4.375rem;
    height: 5.875rem;
    margin-top: -2.9375rem;
  }

  .verticals__subtitle {
    font-size: 1.125rem;
  }

  .verticals__subtitle:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .no-webp .verticals__columns::after {
    background: url("../img/bgs/verticals-mob.png") 50% 0/cover no-repeat; }

  .verticals__columns::after {
    content: "";
    position: absolute;
    top: 0;
    left: -1.875rem;
    right: -1.875rem;
    z-index: -1;
    mix-blend-mode: lighten;
    height: 100%;
  }

  .verticals__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }

  .verticals__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }

  .verticals__column:nth-child(odd) .verticals__label {
    -webkit-transform: translate(0rem, 0rem);
        -ms-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }

  .verticals__column:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .verticals__column:nth-child(even) .verticals__label {
    -webkit-transform: translate(0rem, 0rem);
        -ms-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }

  .verticals__wrapper::after {
    width: 4.375rem;
    height: 4.375rem;
    -webkit-filter: blur(2.1875rem);
            filter: blur(2.1875rem);
  }

  .verticals__wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.75rem;
            flex: 0 0 8.75rem;
    min-height: 8.75rem;
  }

  .verticals__icon {
    max-width: 5.3125rem;
  }

  .verticals__label {
    font-size: 0.875rem;
  }

  .managers {
    padding-bottom: 6.875rem;
  }

  .managers__title span {
    display: none;
  }

  .managers__title:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .managers__columns {
    gap: 9.375rem;
  }

  .column-managers {
    padding: 0rem 1.25rem;
  }

  .column-managers__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -4.0625rem;
  }

  .column-managers__user:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.625rem;
  }

  .column-managers__name {
    font-size: 1.875rem;
  }

  .column-managers__link {
    font-size: 1rem;
  }

  .column-managers__btn {
    -webkit-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
            transform: translate(0, 50%);
    border-radius: 6.25rem;
    padding: 1.5rem 1.625rem;
    margin-top: -3.125rem;
  }
}

@media (max-width: 26.56125em) {
  .left-benefits__column_2 {
    min-height: 7.125rem;
  }

  .left-benefits__column_3 {
    padding: 0rem 0rem 1.875rem 1.875rem;
    min-height: 8.125rem;
  }
}

@media (max-width: 24.37375em) {
  [class*=__container] {
    padding: 0rem 0.9375rem;
  }

  .bottom-header__wrapper {
    padding: 0.5rem 0.9375rem;
    margin: 0rem -0.9375rem;
  }

  .bottom-header__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .bottom-header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 13.75rem;
            flex: 0 0 13.75rem;
    width: 13.75rem;
  }

  .bottom-header__icon {
    right: 0.9375rem;
  }

  .footer__logo {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 100%;
  }

  .hero__btn::before {
    display: none;
  }

  .benefits__header {
    padding: 0.9375rem 0.625rem;
  }

  .benefits__title {
    font-size: 1.375rem;
  }

  .benefits__descr {
    font-size: 1.375rem;
  }

  .accounts__label {
    white-space: initial;
    margin-bottom: 1.25rem;
  }

  .accounts__label::before,
  .accounts__label::after {
    display: none;
  }

  .column-managers__link::before {
    display: none;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #6fbe3e;
  }

  .contact-footer__link:hover {
    color: #6fbe3e;
  }

  .right-footer__social-link:hover svg path {
    fill: #6fbe3e;
  }

  .hero__btn:hover {
    -webkit-transform: translate(0rem, -0.4375rem);
        -ms-transform: translate(0rem, -0.4375rem);
            transform: translate(0rem, -0.4375rem);
  }

  .hero__btn:hover::before {
    -webkit-transform: translate(0rem, 0.4375rem);
        -ms-transform: translate(0rem, 0.4375rem);
            transform: translate(0rem, 0.4375rem);
  }

  .column-managers__btn:hover {
    -webkit-transform: translate(0rem, -0.4375rem);
        -ms-transform: translate(0rem, -0.4375rem);
            transform: translate(0rem, -0.4375rem);
  }
}

.webp .footer::after { background: url(../img/bgs/footer.webp) 50% 0/cover no-repeat; }

.webp .hero__title::after { background: url(../img/hero/dot.webp) 50%/100% no-repeat; }

.webp .hero__btn::before { background: url(../img/hero/arrow.webp) 50%/100% no-repeat; }

.webp .benefits__header::after { background: url(../img/benefits/header-bg.webp) 50%/100% no-repeat; }

.webp .left-benefits__column_2::after { background: url(../img/benefits/budget-bg.webp) 50%/100% no-repeat; }

.webp .accounts__label::before { background: url(../img/accounts/lines.webp) top right/125% no-repeat; }

.webp .accounts__label::after { background: url(../img/accounts/decor.webp) 50%/100% no-repeat; }

.webp .managers::after { background: url(../img/bgs/managers.webp) 50% 0/cover no-repeat; }

.webp .managers__title span { background: url(../img/managers/lines.webp) 50%/100% no-repeat; }

.webp .managers__title::before, .webp .managers__title::after { background: url(../img/managers/arrow.webp) 50%/100% no-repeat; }

@media (max-width: 29.99875em) {

  .webp .benefits__header::after { background-image: url(../img/benefits/header-bg-mob.webp); }
}

@media (max-width: 29.99875em) {

  .webp .left-benefits__column_2::after { background: url(../img/benefits/budget-bg-mob.webp) 50%/100% no-repeat; }
}

@media (max-width: 29.99875em) {

  .webp .left-benefits__column_3::after { background: url(../img/benefits/account-bg-mob.webp) 50%/100% no-repeat; }
}

@media (max-width: 29.99875em) {

  .webp .verticals__columns::after { background: url(../img/bgs/verticals-mob.webp) 50% 0/cover no-repeat; }
}